# idea
.idea/
*.iml

#maven
target/

#eclipse
Applets/VIP-Cowork-Applet/.classpath
Applets/VIP-Cowork-Applet/.project
Applets/VIP-Cowork-Applet/.settings/

Applets/VIP-DataManager-Applet/.classpath
Applets/VIP-DataManager-Applet/.project
Applets/VIP-DataManager-Applet/.settings/

Applets/VIP-Gatelab-Applet/.classpath
Applets/VIP-Gatelab-Applet/.project
Applets/VIP-Gatelab-Applet/.settings/

Portal/.project
Portal/.settings/

Portal/vip-api/.classpath
Portal/vip-api/.gitignore
Portal/vip-api/.project
Portal/vip-api/.settings/

Portal/vip-application-importer/.project
Portal/vip-application-importer/.settings/

Portal/vip-application/.classpath
Portal/vip-application/.gitignore
Portal/vip-application/.project
Portal/vip-application/.settings/
	
Portal/vip-core/.classpath
Portal/vip-core/.project
Portal/vip-core/.settings/

Portal/vip-datamanagement/.classpath
Portal/vip-datamanagement/.gitignore
Portal/vip-datamanagement/.project
Portal/vip-datamanagement/.settings/

Portal/vip-docs/.project
Portal/vip-docs/.settings/

Portal/vip-gatelab/.project
Portal/vip-gatelab/.settings/

Portal/vip-portal/.classpath
Portal/vip-portal/.project
Portal/vip-portal/.settings/

Portal/vip-social/.classpath
Portal/vip-social/.project
Portal/vip-social/.settings/

